body{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(135,206,250,0.2);

}

div {
	/*border:5px solid black;*/
	border-radius: 25px;
	height: 490px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding:14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

img {
     border-radius: 25px;
}

h1{
	font-family: 'Outfit', sans-serif;
	font-weight:700;
	font-size:25px;
	text-align: center;
}

p{
	font-family: 'Outfit', sans-serif;
	font-weight: 200;
	font-size:15px;
	text-align: center;
}
